
.nivo-table {
    margin: 0.75em 0;
}

.nivo-field-pane .subtext {
    color: #859199;
    margin-top: 5px;
}

.nivo-field-pane label {
    display: inline;
    font-weight: bold !important;
}

/* Override EE style */
.nivo-table .odd td {
    background-color: #ebf0f2 !important;
}

.nivo-table :nth-child(odd) td {
    background-color: #f4f6f6 !important;
}

.nivo-table th {
    cursor: default;
}

.nivo-table textarea {
    height: 132px;
    resize: none;
}

.nivo-icon-cell {
    text-align: center;
}

.nivo-button {
    background: url(../img/sprite.png) no-repeat;
    display: inline-block;
    height: 16px;
    text-decoration: none !important;
    vertical-align: middle;
    width: 16px;

    /* Kellum Image Replacement */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.nivo-button-plus        { background-position:   0     0; }
.nivo-add-link:hover .nivo-button-plus,
.nivo-button-plus:hover  { background-position:   0   -16px; }
.nivo-button-minus       { background-position: -16px   0; }
.nivo-button-minus:hover { background-position: -16px -16px; }

.nivo-add-link {
    text-decoration: none !important;
}

.nivo-handle {
    cursor: move;
}

.nivo-label {
    font-weight: bold !important;
    margin-top: 1.75em;
}

.nivo-field-pane {
    margin: 0.75em 0;
}

.is-hidden {
    display: none !important;
}

.nivo-table .is-dragging td {
    background-color: #dde2e5 !important;
}
