
.nivo-table {
    margin: 0.75em 0;
}

/* Override EE style */
table.nivo-table tr.odd td {
    background-color: #ebf0f2;
}

table.nivo-table tr:nth-child(odd) td {
    background-color: #f4f6f6;
}

.nivo-table th {
    cursor: default;
}

.nivo-table textarea {
    height: 132px;
    resize: none;
}

.nivo-button {
    border: 1px solid;/* #d0d7df; */
    border-radius: 50%;
    display: inline-block;
    line-height: 13px;
    padding-top: 2px;
    text-align: center;
    text-decoration: none !important;
    width: 15px;
}

.nivo-add-link {
    text-decoration: none !important;
}

.nivo-handle {
    cursor: move;
}

.nivo-label {
    font-weight: bold !important;
    margin-top: 1em;
}

.nivo-field-pane {
    margin: 0.75em 0;
}

.is-hidden {
    display: none !important;
}

.is-dragging td {
    background-color: #dde2e5 !important;
}
